.invoice {
  margin-left: 250px;
  padding: 50px 20px;
  background: #f5f5f9;
  color: #566a7f !important;
  display: flex;
  gap: 50px;
}
.invoice p,
.invoice select {
  color: #566a7f;
}

.invoice textarea,
.invoice select,
.invoice input {
  color: #566a7f;
  border: 1px solid #ddd !important;
  border-radius: 8px !important;
}
.invoice input {
  color: #566a7f;
}
.invoice-main {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(207, 207, 208, 0.4);
}
/* .invoice-subtotal input{
    width: 50%;
} */

.invoice-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bank-details {
  display: flex;
  gap: 30px;
  justify-self: flex-start;
}

.inputs {
  height: auto;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding-right: 60px;
}

.item-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item-select {
  display: flex;
  flex-direction: column;
}

.price-qty {
  display: flex;
  gap: 10px;
}

.price-qty input {
  width: 130px;
}

.likein {
  border: 1px solid #e8e8e8;
  padding: 7px 50px;
}

.likein.gray {
  background: #ddd !important;
}

.inputs {
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
  display: inline-block;
}
.close {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 25px;
  border-left: 1px solid #ddd;
  height: 100%;
  padding-top: 5px;
  padding-left: 10px;
}

.invoice-details {
  display: flex;
}

.inputs select,
.inputs input {
  height: 45px;
  max-height: 50px;
}

.invoice input {
  height: 45px;
  max-height: 50px;
}

.unie {
  width: auto;
  color: #566a7f;
}



.subtotal-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtotal-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.subtotal-left div{
  width: 100%;
}


.sales{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 99% !important;
}

.subtotal-left input{
  width: 100%;
}

.subtotal-wrapper{
  display: flex;
  gap: 20px;
}





.invoice-buttons {
  width: 25%;
}
.four-buttons {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(207, 207, 208, 0.4);
}

.invoice-main button {
  border: none;
  background-color: #696cff;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  border-radius: 10px;
  padding: 7px 20px;
}

.four-buttons button {
  width: 100%;
  border: none;
  background-color: #696cff;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
}

.four-buttons div {
  display: flex;
  gap: 10px;
}

.invoice-buttons select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.flext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #696cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #696cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .invoice {
    flex-direction: column;
    padding: 50px;
  }

  .invoice-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .invoice {
    margin-left: 0;
  }
}
